<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" 
  IgnorableNamespaces="uap mp appstudio">
			<Identity Name="dc593fba-534f-4416-b4f3-9cbf416519d5" Publisher="CN=AppStudio" Version="1.0.0.0" />
	    <mp:PhoneIdentity PhoneProductId="d47a0b4b-9ecd-4c9a-99c2-2d5e5b5d08b7" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>AppStudio App</DisplayName>
        <PublisherDisplayName>AppStudio</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AppStudio.App">
            <uap:VisualElements 
			  DisplayName="随机"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="Use this to create an app from scratch."
              BackgroundColor="transparent">
                <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000"/>
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
    <appstudio:Metadata>
        <appstudio:Item Name="appId" Value="d47a0b4b-9ecd-4c9a-99c2-2d5e5b5d08b7" />
        <appstudio:Item Name="model" Version="1.12" />
        <appstudio:Item Name="formula" Value="Win10" Version="1.11.1110.1" />
        <appstudio:Item DataSource="Collection" Version="1.0.*"/>
        <appstudio:Item DataSource="Html" Version="1.0.*"/>
        <appstudio:Item DataSource="Menu" Version="1.0.*"/>
    </appstudio:Metadata>
</Package>
